
MainMenu/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
MainMenu/Saved/Config/CrashReportClient/UECC-Windows-F29498DD4ACD3F45283BB19D02B3C59B/CrashReportClient.ini
MainMenu/Saved/Config/CrashReportClient/UECC-Windows-F29498DD4ACD3F45283BB19D02B3C59B/CrashReportClient.ini
MainMenu/Saved/Logs/MainMenu.log
